#!/bin/sh

export REDIS_HOST="redis"
export REDIS_PORT="6379"
export GALLERY_URL="https://localhost:3000/gallery"
export PHOTOS_DIRECTORY="photos"
export TELEGRAM_BOT_TOKEN="idididid:keykeykeykeykey"
export EVENT_DOC_URL=""
export EVENT_GAMES_PREFIX="https://localhost:3000/gallery/games/"
export PLAYLIST_URL='http://www.deezer.com/playlist/61829027'
export ADMINS_USERNAMES="myusername, anotherusername"