<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>InCodWeTrust</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="Sadhana Ganapathiraju" />
<meta name="description" content="Chary . Wary is a simply stunning template for a blog." />
<meta name="keywords" content="chary,wary,xhtml,css,free templates,templates,simplygold,sadhana,sadhana ganapathiraju" />
<link rel="stylesheet" type="text/css" media="screen,projection" href="master.css" />
<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen,projection" href="ie-win.css" /><![endif]-->
<link rel="start" title="InCodWeTrust" href="#" />
</head>
<body>
<div id="header">
  <h1><a href="#">In Cod We Trust</a></h1>
</div>
<div id="navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#showcase/free_templates/">Free Templates</a></li>
    <li><a href="#showcase/commercial_templates/">Commercial Templates</a></li>
    <li><a href="#about/">About</a></li>
    <li><a href="#contact/">Contact</a></li>
  </ul>
</div>
<div id="content-wrapper">
  <div id="content">
    <%- galleryHtml %>
  </div>
</div>
<div id="footer">
  <div id="meta">
    <div class="authors">
      <h3>Orgas</h3>
      <ul>
        <li><a href="#">f_like_fire</a></li>
        <li><a href="#">MaryCC</a></li>
      </ul>
    </div>
    <hr />
  </div>
</div>
</body>
</html>
