<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>InCodWeTrust</title>
<meta http-equiv="content-language" content="fr-FR" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="author" content="Frederic Leger" />
<meta name="description" content="In Cod We Trust, a Bwelcome Event in Marseille" />
<meta name="keywords" content="in cod we trust be welcome, event" />
<link rel="stylesheet" type="text/css" media="screen,projection" href="/css/master.css" />
<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen,projection" href="/css/ie-win.css" /><![endif]-->
<link rel="start" title="InCodWeTrust" href="/gallery" />
</head>
<body>
<div id="header">
  <h1><a href="/gallery">In Cod We Trust</a></h1>
</div>
<div id="content-wrapper">
  <div id="content">
    <!-- Start Gallery -->
    <%- galleryHtml %>
    <!-- End Gallery -->
  </div>
</div>
<div id="footer">
  <div id="meta">
    <div class="authors">
      <h3>Orgas</h3>
      <ul>
        <li><a href="https://telegram.me/fredlight">f_like_fire</a></li>
        <li><a href="https://telegram.me/orianne55">lifeisadream</a></li>
        <li><a href="https://telegram.me/Remy_138">latchoska</a></li>
        <li><a href="https://telegram.me/FanitaP">fanita</a></li>
      </ul>
    </div>
    <hr />
  </div>
</div>
</body>
</html>
